# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Debug/DynamicS.A2CEE31F.tlog/link.read.1.tlog
Debug/DynamicS.A2CEE31F.tlog/CL.write.1.tlog
Debug/DynamicS.A2CEE31F.tlog/CL.read.1.tlog
Debug/DynamicS.A2CEE31F.tlog/CL.command.1.tlog
*.log
*.idb
*.pdb
*.idb
*.log
/Debug/DynamicS.A2CEE31F.tlog
/.vs/DynamicScriptLoader/v16
/.vs/ProjectSettings.json
/.vs
/DynamicScriptLoader.aps
